*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
}
    
header {
    position: sticky;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 1px solid grey;
    background-color: white !important;
}
header nav ul {
    list-style: none;
    overflow: hidden;
    margin-left: 70%;
}
header nav ul li{
    padding-left: 10%;
    float: left;
}
    
section{
    height: 50vh;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}
    
.Container{
    margin-top: 0%;
}  
.Container img{
    height: 300px;
}  
.Container h2{
    margin-top: 3%;
}

#home {
    justify-content: center;
}

#about {
    padding-left: 10%;
}

#contact {
    padding-left: 10%;
}

#status_student {
    border-radius: 25px;
    background: maroon;
    color: white;
    text-align: center;
    display: inline;
    padding-left: 5px;
    padding-right: 10px;
}