*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
}
    
header {
    position: sticky;
    top:0;
    height: 45px;
    border: 1px solid grey;
    background-color: white !important;
}
header nav ul {
    display: flex;
    margin-left: 70%;
    list-style: none;
}
header nav ul li{
    padding-left: 10%;
}
    
section{
    height: 50vh;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}
    
.Container{
    margin-top: 0%;
}  
.Container img{
    height: 300px;
}  
.Container h2{
    margin-top: 3%;
}

#home {
    justify-content: center;
}

#about {
    padding-left: 10%;
}

#contact {
    padding-left: 10%;
}